
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  height: 85vh;
  width: 80vw;
  border-radius: 14px;
}
.ball {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: fixed;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}
.ball_effect {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  animation: spinBall 0.1s linear infinite;
  box-shadow: inset 0 0 18px #fff,
  inset 6px 0 18px #ffffff,
  inset -6px 0 18px #ffffff,
  inset 6px 0 30px #000000,
  inset -6px 0 30px #000000,
  0 0 5px #fff, -4px 0 18px #ffffff, 4px 0 18px #ffffff;
}
@keyframes spinBall {
  50% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
  }
}
.stick {
  height: 85px;
  width: 12px;
  border-radius: 50%;
  position: fixed;
}
.stick_1 {
  top: calc(7.5vh + 55px);
  left: calc(10vw + 30px);
  box-shadow: inset 0 0 18px #fff,
  inset -6px 0 18px #ffffff,
  inset 6px 0 18px #000000,
  inset -6px 0 30px #ffffff,
  inset 6px 0 30px #000000;
}
.stick_2 {
  top: calc(85vh + 7.5vh - 100px - 55px);
  right: calc(10vw + 30px);
  box-shadow: inset 0 0 18px #fff,
  inset -6px 0 18px #ffffff,
  inset 6px 0 18px #000000,
  inset -6px 0 30px #ffffff,
  inset 6px 0 30px #000000;
}

.player_1_score {
  height: 50px;
  width: 50px;
  color: white;
  position: fixed;
  left: 30vw;
  margin-top: 30px;
}

.player_2_score {
  height: 50px;
  width: 50px;
  color: white;
  position: fixed;
  left: 70vw;
  margin-top: 30px;
}

.message {
  position: fixed;
  color:white;
  height: 10vh;
  width: 30vw;
  left: 38vw;
  margin: 30px auto auto auto;
}
